/* Styles reset. Common Styles. */

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

select,
button,
input {
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: #e5e5e5;
}

.app-screen {
    width: 100%;
    height: 100vh;
    background-color: #004980;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #004980;
}

.button {
    width: 246px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #7ac100;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgb(158 179 159);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.unavailable {
    display: none;
}

/* End */

.difficulty-level {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
}

.difficulty-level__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.difficulty-level__title {
    max-width: 210px;
}

.form__difficulty-level-options {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.form__difficulty-level-option {
    width: 98px;
    height: 98px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #fff;
    font-size: 64px;
    line-height: 112%;
    color: #0080c1;
}

.form__difficulty-level-option:hover {
    cursor: pointer;
    border: 1px solid #0080c1;
}

.not-selected {
    background-color: #e5e5e5;
    color: #6099b6;
}

.game-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 975px;
}

.game-table__header {
    width: 100%;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.game-table__stopwatch {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: flex-end;
}

.stopwatch__units {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 16px;
}

.stopwatch__time {
    width: 182px;
    font-size: 64px;
    line-height: 64px;
}

.game-table__cards {
    display: grid;
    gap: 15px;
}

.game-table__cards_low {
    grid-template-columns: repeat(3, 95px);
    grid-template-rows: repeat(2, 133px);
}

.game-table__cards_med {
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(3, 133px);
}

.game-table__cards_high {
    grid-template-columns: repeat(5, 95px);
    grid-template-rows: repeat(4, 133px);
}

.card {
    position: relative;
}

.card-face {
    width: 95px;
    height: 133px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.card-face__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card-face__desc_reverse {
    transform: rotate(180deg);
}

.card-face__rank {
    font-size: 24px;
    line-height: 24px;
}

.card-face__suit {
    height: 8px;
    margin-left: 4px;
}

.card-face__suit_main {
    height: 28px;
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 133px;
    z-index: -1;
}

.card-back:hover {
    cursor: pointer;
}

.cover {
    z-index: 1;
}

.result-plate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 48px;
}

.result-plate__canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #004980de;
    backdrop-filter: blur(4px);
}

.result-plate__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-plate__time-label {
    font-size: 24px;
    line-height: 32px;
}

.result-plate__time {
    font-size: 64px;
    line-height: 64px;
}

.result-plate__again-button {
    justify-self: end;
}
